<div class="expansion-tile h-100">
  <mat-expansion-panel class="h-100" expanded="true">
    <mat-expansion-panel-header class="blue-bold-text"
      >Notifications</mat-expansion-panel-header
    >
    <ng-container *ngIf="notifications$ | async as notifications; else loading">
      <div
        class="mt-2"
        *ngIf="notifications.length !== 0; else emptyNotifications"
      >
        <div class="d-flex justify-content-between">
          <span class="dismiss" (click)="reloadNofications()">Reload</span>
          <span class="dismiss" (click)="readNotifications(notifications)"
            >Dismiss all</span
          >
        </div>
        <hr class="mt-1" />
        <div class="d-flex flex-column">
          <div
            class="notification-item mb-2"
            [class.new]="!notification.readOn"
            *ngFor="let notification of notifications"
          >
            <div class="d-flex justify-content-between">
              <div class="d-flex align-items-center gap-2">
                <span class="me-1" *ngIf="!notification.readOn">
                  <mat-chip
                    color="draft"
                    style="display: inline-block"
                    matTooltip="New Notification"
                  >
                    NEW
                  </mat-chip>
                </span>
                <span
                  class="header flex-grow-1"
                  [innerHTML]="notification.subject"
                  (click)="openNotification(notification)"
                ></span>
              </div>
              <mat-icon class="close" (click)="deleteNotification(notification)"
                >close</mat-icon
              >
            </div>
            <div
              class="body"
              (click)="openNotification(notification)"
              [innerHTML]="notification.body"
            ></div>
            <div class="text-muted text-right">
              {{ notification.createdAt | utcToLocalTime | timeAgo }}
            </div>
            <hr />
          </div>
        </div>
      </div>
    </ng-container>
  </mat-expansion-panel>
</div>

<ng-template #emptyNotifications>
  <div class="text-center px-5 mx-3">
    <mat-icon class="icon-30">notifications_off</mat-icon>
    <br />
    <span>No notifications</span>
  </div>
</ng-template>
<ng-template #loading>
  <div class="d-flex justify-content-center p-4 bg-light">
    <mat-spinner [diameter]="100" [strokeWidth]="5"></mat-spinner>
  </div>
</ng-template>
