<h1 class="mat-headline pt-2 ps-3">Administration</h1>
<mat-nav-list>
  <ng-container *ngIf="hasSuperAdminPrivilege$ | async">
    <h1 matSubheader>General</h1>
    <mat-list-item
      routerLink="messageTemplates"
      (click)="linkClicked()"
      routerLinkActive="active"
    >
      <mat-icon class="me-1" fontSet="material-icons-outlined">ballot</mat-icon>
      <a>Message Templates</a>
    </mat-list-item>
    <mat-list-item
      routerLink="welcomeMessage"
      (click)="linkClicked()"
      routerLinkActive="active"
    >
      <mat-icon class="me-1" fontSet="material-icons"
        >picture_in_picture_alt</mat-icon
      >
      <a>Welcome Messages</a>
    </mat-list-item>
    <mat-list-item
      routerLink="broadcastMessage"
      (click)="linkClicked()"
      routerLinkActive="active"
    >
      <mat-icon class="me-1" fontSet="material-icons-outlined"
        >message</mat-icon
      >
      <a>Broadcast Message</a>
    </mat-list-item>
    <mat-list-item
      routerLink="excelimport"
      (click)="linkClicked()"
      routerLinkActive="active"
    >
      <mat-icon class="me-1" fontSet="material-icons-outlined"
        >unarchive</mat-icon
      >
      <a>Excel Import</a>
    </mat-list-item>

    <h1 matSubheader>Graph Management</h1>
    <mat-list-item
      routerLink="metadata"
      (click)="linkClicked()"
      routerLinkActive="active"
    >
      <mat-icon class="me-1" fontSet="material-icons-outlined">save</mat-icon>
      <a>Metadata Graph Configuration</a>
    </mat-list-item>
    <mat-list-item
      routerLink="graph"
      (click)="linkClicked()"
      routerLinkActive="active"
    >
      <mat-icon class="me-1" fontSet="material-icons-outlined"
        >graphic_eq</mat-icon
      >
      <a>Triplestore Graph Management</a>
    </mat-list-item>
  </ng-container>

  <h1 matSubheader>Entity Management</h1>
  <mat-list-item
    routerLink="consumerGroups"
    (click)="linkClicked()"
    routerLinkActive="active"
  >
    <mat-icon class="me-1" fontSet="material-icons-outlined">people</mat-icon>
    <a>Consumer Groups</a>
  </mat-list-item>
  <mat-list-item
    routerLink="pidUriTemplates"
    (click)="linkClicked()"
    routerLinkActive="active"
  >
    <mat-icon class="me-1" fontSet="material-icons-outlined"
      >fiber_smart_record</mat-icon
    >
    <a>PID URI Templates</a>
  </mat-list-item>
  <mat-list-item
    routerLink="extendedUriTemplates"
    (click)="linkClicked()"
    routerLinkActive="active"
  >
    <mat-icon class="me-1" fontSet="material-icons-outlined"
      >file_copy</mat-icon
    >
    <a>Extended URI Templates</a>
  </mat-list-item>

  <h1 matSubheader>Link Management</h1>
  <mat-list-item routerLink="linkhistory" routerLinkActive="active">
    <mat-icon class="me-1" fontSet="material-icons-outlined">link</mat-icon>
    <a>Link History</a>
  </mat-list-item>

  <h1 matSubheader>User Requests</h1>
  <mat-list-item routerLink="deletionrequests" routerLinkActive="active">
    <mat-icon class="me-1" fontSet="material-icons-outlined"
      >delete_sweep</mat-icon
    >
    <a>Deletion Requests</a>
  </mat-list-item>
  <mat-list-item
    *ngIf="hasSuperAdminPrivilege$ | async"
    routerLink="orphanedIdentifiers"
    (click)="linkClicked()"
    routerLinkActive="active"
  >
    <mat-icon class="me-1" fontSet="material-icons-outlined"
      >scatter_plot</mat-icon
    >
    <a>Orphaned Identifiers</a>
  </mat-list-item>
</mat-nav-list>
