.icon-100 {
    font-size: 100px;
    height: 100px;
    width: auto;
}

.notification-area {
    width: 100%;

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
        width: 500px;
        max-width: 500px;
    }
}

mat-icon.close {
    &:hover {
        cursor: pointer;
        font-weight: bold;
    }
}

span.dismiss {
    color: #0091df;

    &:hover {
        cursor: pointer;
        font-weight: bold;
    }
}

.notification-item {
    mat-icon.close {
        font-size: 15px;
        height: 15px;
        width: auto;
        color: gray;
    }

    &:hover {
        .header , .body {
            text-decoration: underline;
            cursor: pointer;
        }
    }

    &.new {
        font-weight: 500;
    }

    .mat-standard-chip {
        align-items: center;
        padding: 2px 2px 0 2px;
        border-radius: 0;
        min-height: 20px;
    }

    .header {
        //overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }

    .body {
       // overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}