<div class="h-100" [class.is-mobile]="(sidebarMode$ | async) === 'over'">
  <mat-sidenav-container autosize>
    <mat-sidenav
      #sidenav
      [opened]="sidebarOpened$ | async"
      (closed)="closeSidebar()"
      [mode]="sidebarMode$ | async"
      [fixedInViewport]="(sidebarMode$ | async) === 'over'"
      fixedTopGap="54"
    >
      <app-sidebar [initialFilterPanel]="true"></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="h-100 m-0 d-flex flex-column">
        <div class="d-flex align-items-center p-2 mb-2">
          <app-search-bar-autocomplete
            class="me-4"
            style="flex-grow: 1"
            (searchChange)="handleSearchChange($event)"
            (inputChange)="handleInputChange($event)"
            [focusSearchbar]="true"
          ></app-search-bar-autocomplete>
          <div
            class="me-4"
            style="flex: none"
            *ngIf="hasEditorFunctionalitiesPrivilege$ | async"
          >
            <mat-radio-group
              class="density-settings-3"
              color="primary"
              value="published"
              (change)="setSearchIndex($event)"
            >
              <mat-radio-button value="published" class="me-2"
                >Published</mat-radio-button
              >
              <mat-radio-button value="draft">Draft</mat-radio-button>
              <br />
              <mat-radio-button value="all">Draft + Published</mat-radio-button>
            </mat-radio-group>
          </div>

          <button mat-raised-button (click)="search()">Start Search</button>
        </div>
        <div class="px-2" *ngIf="reindexProgress$ | async as reindexProgress">
          <ng-container *ngIf="reindexProgress && reindexProgress.inProgress">
            Reindexing going on
            <div class="d-flex align-items-center">
              <mat-progress-bar
                [value]="
                  (reindexProgress.currentDocCount /
                    reindexProgress.totalDocCount) *
                  100
                "
                style="max-width: 800px"
                class="me-2"
              ></mat-progress-bar>
              <span style="white-space: nowrap"
                >{{ reindexProgress.currentDocCount }} of
                {{ reindexProgress.totalDocCount }} items reindexed</span
              >
            </div>
            Re-indexing is being performed, you will not see any fresh metadata
            changes in the Data Marketplace until the new index is ready
          </ng-container>
        </div>
        <div class="flex-fill overflow-hidden mb-2 mx-2">
          <app-welcome-content></app-welcome-content>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
