.dialog-panel {
    max-width: 60vw;
    min-width: 60vw;
}

.warning-Api{
  color: red !important;
  margin: auto;
}

.indentation{
    padding-left: 5%;
}

.spinner{
    padding: 20px !important;
}
 