$mat-toolbar-height: 54px;

.mat-toolbar {
    min-height: #{$mat-toolbar-height};
    height: #{$mat-toolbar-height};
}

.mat-toolbar-row {
    min-height: #{$mat-toolbar-height};
    height: #{$mat-toolbar-height};
}

.mat-flat-button {
   line-height: 32px;  
   overflow: hidden;
   text-overflow: ellipsis !important;

}


img {
    margin-right: 10px;
    margin-bottom: 4px;
}

.app-title {
    font-size: x-large;
}

.filler {
    flex: 1 1 auto;
 }