<mat-toolbar class="align-items-center" color="primary">
  <mat-toolbar-row>
    <span class="menu-spacer"></span>
    <button mat-icon-button (click)="toggleNavbar()" color="white">
      <mat-icon>menu</mat-icon>
    </button>

    <a [routerLink]="'/'">
      <img src="assets/BAG_COLID-Visual_white_lh.svg" height="29" alt="COLID" />
    </a>
    <div class="app-title">
      Data Marketplace
      <span *ngIf="buildInformation$ | async as buildInformation"
        >{{ buildInformation.versionNumber }}
        <span>{{ environmentLabel }}</span>
      </span>
    </div>

    <span class="filler"></span>

    <button
      mat-icon-button
      *ngIf="hasEditorFunctionalitiesPrivilege$ | async"
      matTooltip="Go to Editor"
      (click)="goToEditor()"
    >
      <mat-icon>format_indent_increase</mat-icon>
    </button>

    <button
      mat-icon-button
      matTooltip="Go to Resource Relationship Manager"
      (click)="goToRRM()"
    >
      <mat-icon>lan</mat-icon>
    </button>

    <button
      mat-icon-button
      (click)="toggleFavorite.emit()"
      matTooltip="Favorites"
    >
      <mat-icon>bookmark_active</mat-icon>
    </button>

    <button
      mat-icon-button
      (click)="toggleNotification.emit()"
      matTooltip="Notifications"
    >
      <mat-icon *ngIf="newNotifications === 0">notifications_none</mat-icon>
      <mat-icon
        *ngIf="newNotifications !== 0"
        [matBadge]="newNotifications"
        matBadgeColor="warn"
        >notifications_active</mat-icon
      >
    </button>

    <div *ngIf="isLoggedIn$ | async">
      <button
        class="d-none d-md-block"
        mat-icon-button
        [matMenuTriggerFor]="appMenu"
      >
        <mat-icon>person</mat-icon>
      </button>
      <mat-menu #appMenu="matMenu">
        <button mat-menu-item disabled>
          <mat-icon fontSet="material-icons-outlined">face</mat-icon>
          <span>Welcome {{ currentName$ | async }}</span>
        </button>
        <button mat-menu-item [matMenuTriggerFor]="usersettings">
          <mat-icon fontSet="material-icons-outlined">settings</mat-icon>
          <span>User Settings</span>
        </button>
        <button
          *ngIf="hasAdminPrivilege$ | async"
          mat-menu-item
          [routerLink]="'admin'"
        >
          <mat-icon fontSet="material-icons-outlined">security</mat-icon>
          <span>Administration</span>
        </button>
      </mat-menu>

      <mat-menu #usersettings="matMenu">
        <button mat-menu-item [routerLink]="'user'" matTooltip="">
          <mat-icon fontSet="material-icons-outlined">settings</mat-icon>
          <span>Open User Settings</span>
        </button>
        <button
          mat-menu-item
          matTooltip="Saves the currently selected search filters as default for all future searches"
          (click)="saveActiveAggregationAsDefault()"
        >
          <mat-icon fontSet="material-icons-outlined">save</mat-icon>
          <span>Save default filters</span>
        </button>
      </mat-menu>
    </div>
    <button
      *ngIf="hasEditorFunctionalitiesPrivilege$ | async"
      mat-icon-button
      matTooltip="Editor Functionalities"
      [matMenuTriggerFor]="editorMenu"
    >
      <mat-icon>build</mat-icon>
    </button>
    <button
      mat-icon-button
      matTooltip="Help and info"
      [matMenuTriggerFor]="helpMenu"
    >
      <mat-icon>help_outline</mat-icon>
    </button>

    <mat-menu #editorMenu="matMenu">
      <button mat-menu-item [routerLink]="'resource-reviews'">
        <mat-icon fontSet="material-icons-outlined">rate_review</mat-icon>
        <span>Resource Reviews</span>
      </button>
    </mat-menu>

    <mat-menu #helpMenu="matMenu">
      <button mat-menu-item matTooltip="Help" [routerLink]="'/help'">
        <mat-icon>help_outline</mat-icon>
        <span>About / Help</span>
      </button>
      <button
        mat-menu-item
        matTooltip="Release Notes"
        (click)="showReleaseNotes()"
      >
        <mat-icon>history_toggle_off</mat-icon>
        <span>Release Notes</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
