.mat-tree-node {
    min-height: unset;
  }
  
  .mat-icon-button {
    height: unset;
    width: 25px;
    line-height: unset;
  }
  
  ::ng-deep mat-checkbox label {
    margin-bottom: 0 !important;
  }