.admin-sidebar {
  position: fixed;
  margin-top: var(--mat-toolbar-height);
}

.admin-content {
  max-width: 60vw;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

@media (max-width: 1920px) {
  .admin-content {
    max-width: 75vw;
  }
}
