<div class="dialog-panel">
    <h1 mat-dialog-title>Export Warning!</h1>
    <mat-dialog-content class="mat-typography">
        <p>
            This list cannot be exported because it contains more than 500 results.
            <br />
            Please refine your search to return less than 500 results.
        </p>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button mat-dialog-close>
            <mat-icon fontSet="material-icons-outlined">close</mat-icon>
            Close
        </button>
    </mat-dialog-actions>
</div>