.search-hints {
    padding-left: 1rem;
    padding-right: 0rem;
}

.search-results {
    height: calc(100vh - 180px) !important;
    overflow-y:scroll;
    overflow-x:hidden;
}

.loading-batch-spinner {
    margin-bottom: 30px !important;
}

.alert {
    display: inline-flex;
    vertical-align: middle;
}

.alert > mat-icon {
    margin-right: 15px;
}
.checkbox{
    margin: 12px;
    float: left;
   }

    .searchresultlist{
        margin-left: 20px; 
        max-width:53%; 
        flex: 0 0 58.3333333333%;
    }
.select-all-container {
    padding-left: 15px;
    font-size: medium;
}

hr {
    margin-top: 0.5rem;
    margin-bottom: 0;
}