<div class="h-100 p-2 overall-dashboard">
  <span class="px-2 blue-bold-text" style="font-size: 15px"
    >Your Dashboard</span
  >
  <div class="d-flex tile-container">
    <div class="d-flex flex-column flex-1 flex-grow-1 px-2 pb-2">
      <div class="mb-2 dashboard-tile">
        <app-saved-searches-tile></app-saved-searches-tile>
      </div>
      <div class="dashboard-tile">
        <app-subscriptions-tile></app-subscriptions-tile>
      </div>
    </div>
    <div class="d-flex flex-column flex-1 px-2 pb-2">
      <div class="dashboard-tile">
        <app-notifications-tile [user]="user"></app-notifications-tile>
      </div>
      <div
        class="dashboard-tile mt-2"
        [ngClass]="{
          'last-changed-results': lastChangedResourceTilesExpanded,
          'last-changed-results-closed': !lastChangedResourceTilesExpanded
        }"
        *ngIf="hasCreatePrivilege$ | async"
      >
        <app-latest-resource-changes-tile
          (expansionPanelToggled)="setExpansionStatus($event)"
          [user]="user"
        ></app-latest-resource-changes-tile>
      </div>
    </div>
  </div>
</div>
