.overall-dashboard {
  background-color: lightgrey;
  border-radius: 16px;
}

.tile-container {
  height: calc(100% - 20px);
}

.dashboard-tile {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.flex-1 {
  flex: 1;
}

.last-changed-results {
  min-height: 300px + 48px + 24px;
  transition: min-height 300ms;
}

@media (min-height: 1024px) {
  .last-changed-results {
      min-height: 500px + 48px + 24px;
  }
}

.last-changed-results-closed {
  min-height: 48px;
  transition: min-height 300ms;
}