.image {
    object-fit: contain;
    height: 8em;
    max-width: 13em;
    margin-left: 1em;
    margin-bottom: 1em;
    vertical-align: top;
    cursor: pointer;
}

.panel-title {
    padding: 0.5rem 0px;
}