<div class="search-field">
  <mat-form-field appearance="outline">
    <mat-icon style="cursor: pointer" (click)="onEnter(search.value)" matPrefix
      >search</mat-icon
    >
    <input
      id="searchBarInput1"
      matInput
      #search
      [ngModel]="initialSearchText"
      [matAutocomplete]="auto"
      (keyup.enter)="onEnter(search.value)"
      (debounceHandler)="onInputChange(search.value)"
      [debounce]="300"
      placeholder="Search"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="handleOptionSelected($event)"
    >
      <ng-container *ngIf="autocompleteResult">
        <mat-option
          *ngFor="let option of autocompleteResult | async"
          [value]="option"
          ><span [innerHTML]="option | highlight: search.value"></span
        ></mat-option>
      </ng-container>
    </mat-autocomplete>
  </mat-form-field>
</div>
