.mat-dialog-actions {
    justify-content: flex-end;
}

.icon-error {
    height: 100px;
    width: 100px;
    font-size: 100px;
}

.text-error {
    margin-top: 10px;
    margin-bottom: 30px;
}

.dialog-panel {
    max-width: 60vw;
    min-width: 60vw;
}