.mat-column-label {
  width: calc(100% - 330px);
}

.mat-column-usage {
  width: 200px;
}

.mat-column-actions {
  width: 130px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 4rem;
}
