<!-- <p>excel-import works!</p>
<input type="file" (change)="onFileChange($event)" multiple="false"/> -->
<!-- <button type="button" class="btn btn-info" (click)="uploadExcel()" >Upload</button> -->
<!-- <button class="btn btn-primary" type="submit">Upload</button> -->

<h1 class="admin-tab-title">Excel Import</h1>

<form [formGroup]="fileUploadForm" (ngSubmit)="onFormSubmit()">
  <div class="row">
    <div class="col p-3 text-center">
      <div class="custom-file">
        <input
          type="file"
          class="custom-file-input"
          id="customFile"
          name="myfile"
          (change)="onFileSelect($event)"
          #UploadFileInput
        />
        <label class="custom-file-label" for="customFile">{{
          fileInputLabel || 'Choose File'
        }}</label>
      </div>
    </div>
    <!--<div class="col-sm-6 text-left">
           <button class="btn btn-primary" type="submit">Upload</button>
        </div>-->
    <div class="col p-3 text-left">
      <button mat-raised-button color="primary" type="submit">Upload</button>
    </div>
  </div>
</form>
