<ng-container *ngIf="!isDistribution">
  <ng-container *ngFor="let metadataProperty of groupedMetadata; let i = index">
    <div class="row mb-2">
      <div class="col-3 text-muted">
        <ng-container *ngIf="showLabel(metadataProperty)">{{
          label(metadataProperty)
        }}</ng-container>
      </div>
      <div class="col-9">
        <ng-container>
          <app-entity-display-item
            [entityProperty]="entity.properties[metadataProperty.key]"
            [metadataProperty]="metadataProperty"
            [entityVersions]="entityVersions"
          >
          </app-entity-display-item>
        </ng-container>
      </div>
    </div>
  </ng-container>
</ng-container>
<ng-container *ngIf="isDistribution">
  <div class="row mb-2">
    <div class="col-12 mb-1 text-muted">
      {{ groupLabel }}
    </div>
    <div class="col-12 pl-0">
      <ng-container *ngIf="hasSomeGroupValue">
        <mat-accordion multi>
          <ng-container
            *ngFor="let metadataProperty of groupedMetadata; let i = index"
          >
            <ng-container
              *ngIf="entity.properties[metadataProperty.key] as entityProperty"
            >
              <app-entity-display-item
                [expanded]="!hasMoreThanOneGroupValue"
                [mainDistributionEndpoint]="
                  mainDistributionPIDUri === metadataProperty.key
                "
                [entityProperty]="entityProperty"
                [metadataProperty]="metadataProperty"
              >
              </app-entity-display-item>
            </ng-container>
          </ng-container>
        </mat-accordion>
      </ng-container>
    </div>
  </div>
</ng-container>
