.action-cell {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    button[cdkCopyToClipboard] mat-icon {
        font-size: 22px;
        height: 22px;
        width: 22px;
    }
}
