<ensure-browser-support>
  <ng-container>
    <app-navbar
      (toggleNotification)="toggleSidenav('notification')"
      (toggleFavorite)="toggleSidenav('favorite')"
    >
    </app-navbar>
  </ng-container>

  <mat-sidenav-container hasBackdrop="false">
    <mat-sidenav
      class="notification"
      #notificationSidenav
      disableClose="true"
      mode="over"
      position="end"
    >
      <ng-container *ngIf="activeSidebar === 'notification'">
        <colid-notification
          (closeSidebar)="toggleSidenav('notification')"
          [user]="currentAccountIdentifier$ | async"
          [sidebarOpen]="notificationSidenav.opened"
        >
        </colid-notification>
      </ng-container>

      <ng-container *ngIf="activeSidebar === 'favorite'">
        <colid-favorites
          (closeSidebar)="toggleSidenav('favorite')"
          [user]="currentAccountIdentifier$ | async"
          [sidebarOpen]="notificationSidenav.opened"
        >
        </colid-favorites>
      </ng-container>

      <ng-container *ngIf="activeSidebar === 'admin'">
        <app-admin></app-admin>
      </ng-container>
    </mat-sidenav>
    <router-outlet></router-outlet>
  </mat-sidenav-container>
</ensure-browser-support>
