<ensure-browser-support>
  <ng-container *ngIf="!hideToolbar">
    <app-navbar (toggleNotification)="notificationSidenav.toggle()"></app-navbar>
  </ng-container>
  
  <mat-sidenav-container hasBackdrop="false">
    <mat-sidenav class="notification" #notificationSidenav disableClose="true" mode="over" position="end">
      <colid-notification (closeSidebar)="notificationSidenav.toggle()"
        [user]="currentAccountIdentifier$ | async" [sidebarOpen]="notificationSidenav.opened">
      </colid-notification>
    </mat-sidenav>
    <router-outlet></router-outlet>
  </mat-sidenav-container>
</ensure-browser-support>