.history-header {
    background: #002e46;
    color: white;
    border: 2px solid white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: medium;
}

.latest {
    color: #66b512;
}

.iconClose {
    background-color: rgba(0, 0, 0, 0.54);
    color: white;
    border-radius: 50%;
    font-size: 24px;
    margin-right: 8px;
}

.iconOpen {
    background-color: #002e46;
    color: white;
    border-radius: 50%;
    font-size: 24px;
    margin-right: 8px;
}