.mat-standard-chip {
    border-radius: 10px;
    min-height: 20px;
    padding: 0px 6px;
}

.current-version {
    color: white !important;
    --mdc-chip-label-text-color: white;
    background-color: var(--bayer-dark-blue) !important;
}

.c-pointer {
    cursor: pointer;
}