.selected-up {
    background-color: #83f9a0;
}

.selected-down {
    background-color:#f98383;
}

.feedback-actions {
    height: 3em;
}

#feedback_note{
    font-size: 7px;
    top: -6px;
    max-width: 200px;
    display: inline-block;
    position: relative;
}