<div *ngIf="isFeedbackPageVisible">
  <div>
    <h5>Is this information helpful?</h5>
    <span id="feedback_note"
      >*This feedback is anonymous. A statement cannot be traced back to your
      identity. Thank you for your participation.</span
    >
  </div>
  <div class="d-flex justify-content-between align-items-end feedback-actions">
    <button
      mat-icon-button
      [ngClass]="{ 'selected-up': iSentimentalScorePositive === true }"
      (click)="selectSentimental(true)"
    >
      <mat-icon>thumb_up</mat-icon>
    </button>

    <button
      mat-icon-button
      [ngClass]="{ 'selected-down': iSentimentalScorePositive === false }"
      (click)="selectSentimental(false)"
    >
      <mat-icon>thumb_down</mat-icon>
    </button>

    <div class="mx-2" *ngIf="isCommentShown">
      <mat-form-field style="width: 223px" floatLabel="never">
        <mat-label>Tell us more about your rating</mat-label>
        <input
          matInput
          [(ngModel)]="comment"
          maxlength="250"
          style="width: 250px"
        />
        <mat-hint>{{ 250 - comment.length }} characters left</mat-hint>
      </mat-form-field>
    </div>

    <button (click)="sendFeedback()" mat-flat-button color="primary">
      Submit
    </button>
  </div>
</div>

<div *ngIf="!isFeedbackPageVisible">
  <div>
    <h5>Thanks for the feedback.</h5>
  </div>
  <div class="d-flex justify-content-between align-items-end feedback-actions">
    <p>We'll keep working on improving our software.</p>
  </div>
</div>
