<mat-list-item class="resource-item-tile" (click)="openResourceDetailsDialog()">
  <ds-icon
    matListItemIcon
    iconType="S3"
    [tooltipDisabled]="false"
    [delay]="300"
    [icon]="resourceType"
  ></ds-icon>
  <div class="resource-item-tile__contents">
    <div class="resource-item-tile__text-container">
      <span class="resource-item-tile__title">{{ label }}</span>
      <span
        class="resource-item-tile__description"
        [innerHTML]="strippedDefinition"
      ></span>
    </div>
    <app-resource-status-indicators
      class="resource-item-tile__status-indicators"
      [entryLifeCycleStatus]="lifeCycleStatus"
      [resourceLinkedLifecycleStatus]="resourceLinkedLifecycleStatus"
    ></app-resource-status-indicators>
  </div>
</mat-list-item>

<mat-divider></mat-divider>
