.mat-tree-node {
    min-height: unset;
  }
  
.mat-icon-button {
  height: unset;
  width: 20px;
  line-height: unset;
}

.mat-icon {
  font-size: 15px;
}

.mat-mdc-icon-button.mat-mdc-button-base {
  padding: 4px;
  --mdc-icon-button-state-layer-size: 32px;
}
