<div
  class="cluster-container"
  *ngIf="(isLoadingClusters$ | async) === false; else loading"
>
  <ng-container *ngIf="clusteredResults$ | async as clusteredResults">
    <ng-container *ngIf="clusteredResults.clusters.length > 0; else noClusters">
      <div class="mx-2 cluster-cell">
        <div
          class="d-flex align-items-center cluster-descriptor"
          matTooltip="Select an item in the list to show the results of a cluster"
        >
          <mat-icon class="me-1">workspaces</mat-icon>
          <span class="cluster-list-wrapper-title">Clusters</span>
        </div>
        <mat-selection-list
          class="cluster-list-wrapper"
          [multiple]="false"
          #clusterList
          (selectionChange)="
            selectedClusterChanged(clusterList.selectedOptions.selected)
          "
        >
          <mat-list-option
            style="height: 40px"
            *ngFor="let cluster of clusteredResults.clusters"
            [value]="cluster.labels[0]"
            [selected]="cluster.labels[0] === currentlySelectedCluster"
            ><div class="clamping-container">
              <li>
                <span class="cluster-list-item">
                  {{ cluster.labels }}
                  <span class="text-secondary"
                    >({{ cluster.docDetails.length }} results)</span
                  >
                </span>
              </li>
            </div></mat-list-option
          >
        </mat-selection-list>
      </div>
      <div class="w-100">
        <div
          *ngIf="metadata != null"
          infiniteScroll
          class="search-results"
          [infiniteScrollDistance]="2"
          [infiniteScrollThrottle]="50"
          [scrollWindow]="false"
          [immediateCheck]="true"
          (scrolled)="loadNextBatch()"
        >
          <div class="select-all-container">
            <mat-checkbox
              color="primary"
              class="ms-2"
              (change)="selectAllCheckboxChanged($event)"
              [checked]="
                selectedPidUris.length !== 0 &&
                selectedPidUris.length ===
                  clusteredResultsMapping[currentlySelectedCluster].pidUris
                    .length
              "
            >
              <span class="ms-4">Select all</span>
            </mat-checkbox>
            <mat-divider class="mt-2"></mat-divider>
          </div>
          <ng-container *ngFor="let hit of searchResults; let index = index">
            <div class="d-flex align-items-center ms-2">
              <mat-checkbox
                class="me-2"
                color="primary"
                mat-list-icon
                (change)="checkboxChanged($event, hit.id)"
                [checked]="hit.id | checkboxSelected : selectedPidUris"
              >
              </mat-checkbox>
              <app-search-result
                class="flex-fill"
                [metadata]="metadata"
                [result]="hit"
                [showResourceDetailsButton]="true"
              ></app-search-result>
            </div>
            <mat-divider></mat-divider>
          </ng-container>
          <div [hidden]="!loadingSearchResults">
            <div class="py-4 d-flex justify-content-center">
              <app-colid-spinner></app-colid-spinner>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #noClusters>
      <div class="mx-4">
        There are no clusters available for this search, please try a different
        search
      </div>
    </ng-template>
  </ng-container>
</div>
<ng-template #loading>
  <div class="py-4 d-flex justify-content-center">
    <app-colid-spinner></app-colid-spinner>
  </div>
</ng-template>
