<ng-container *ngIf="entities; else loading">
  <ng-container *ngIf="entities.length !== 0; else empty">
    <ng-container *ngIf="selectedStep != null; else loading">
      <mat-vertical-stepper
        [selectedIndex]="selectedStep"
        (selectionChange)="handleSelectionChanged($event)"
      >
        <ng-template matStepperIcon="history">
          <mat-icon>history</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="edit">
          <mat-icon>arrow_right_alt</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="published">
          <mat-icon>cloud_upload</mat-icon>
        </ng-template>
        <mat-step
          *ngFor="let entity of entities; let i = index"
          completed="false"
          [state]="getState(entity)"
        >
          <ng-template matStepLabel>
            <span
              >{{ getHeader(entity) | date: 'yyyy-MM-dd HH:mm' }}
              <span
                class="badge badge-pill badge-primary ms-1"
                *ngIf="getState(entity) === 'published'"
              >
                <ds-icon
                  iconType="Mapping"
                  [tooltipDisabled]="false"
                  [delay]="300"
                  [icon]="constants.Resource.LifeCycleStatus.Published"
                ></ds-icon>
              </span>
            </span>
            <br />
            <small>{{ getSubHeader(entity) }}</small>
          </ng-template>
          <div *ngIf="historicEntities.get(entity.id); else loading">
            <app-entity-display
              [entityVersions]="historicEntities.get(entity.id)?.versions"
              [entity]="historicEntities.get(entity.id)"
              [metadata]="metadataRelease(historicEntities.get(entity.id))"
              (versionClick)="handleVersionClick($event)"
            >
            </app-entity-display>
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </ng-container>
  </ng-container>
</ng-container>

<ng-template #empty>
  <div class="mt-4 row">
    <div class="col">
      <div class="mt-4 text-center">
        <mat-icon style="font-size: 5rem" [inline]="true">history</mat-icon>
        <h4>Currently there are no historical entries yet</h4>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #loading>
  <div class="row justify-content-center mt-4">
    <div class="col-auto">
      <app-colid-spinner></app-colid-spinner>
    </div>
  </div>
</ng-template>
