// Change of the global font size base for Bootstrap (needs to be set before importing bootstrap dependencies)
@use "@angular/material" as mat;
$font-size-base: 0.85rem;

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/maps";

@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/forms";
// @import "../node_modules/bootstrap/scss/custom-forms";
@import "../node_modules/bootstrap/scss/badge";
@import "../node_modules/bootstrap/scss/tooltip";
@import "../node_modules/bootstrap/scss/utilities";

// Ng-Select
// @import "~@ng-select/ng-select/themes/default.theme.css";
@import "~@ng-select/ng-select/themes/material.theme.css";

.ng-select.custom {
  padding-bottom: 0;
}

.ng-select.custom .ng-select-container {
  color: #333;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ccc;
  height: 36px;
  min-height: 36px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.ng-select.custom .ng-select-container:after {
  border-bottom: 0;
}

.ng-select.custom .ng-select-container .ng-value-container {
  border-top: 0px;
  padding-left: 10px;
}

.ng-select.custom .ng-dropdown-panel.ng-select-bottom {
  top: 100%;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-color: #e6e6e6;
  margin-top: -1px;
}

.ng-select.custom .ng-select-container .ng-value-container .ng-input {
  padding-left: 10px;
  padding-right: 50px;
}

.ng-select.custom .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  padding: 8px 10px;
  line-height: 20px;
  min-height: 20px;
}

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

:root {
  --bayer-dark-blue: rgb(16, 56, 79);
  --bayer-dark-green: rgb(0, 68, 34);
  --bayer-dark-purple: rgb(68, 50, 71);
  --bayer-mid-blue: rgb(0, 97, 127);
  --bayer-mid-green: rgb(43, 102, 54);
  --bayer-mid-purple: rgb(98, 73, 99);
  --bayer-blue: rgb(0, 145, 223);
  --bayer-green: rgb(102, 181, 18);
  --bayer-raspberry: rgb(211, 15, 75);
  --bayer-bright-blue: rgb(0, 188, 255);
  --bayer-bright-green: rgb(137, 211, 41);
  --bayer-fuchsia: rgb(255, 49, 98);
  --bayer-blue-text: rgb(0, 117, 166);
  --bayer-green-text: rgb(16, 128, 0);
  --bayer-purple-text: rgb(106, 76, 114);
  --bayer-raspberry-text: rgb(222, 0, 67);

  --mat-toolbar-height: 54px;
}

/* For use in src/lib/core/theming/_palette.scss */
$md-bayerbrightblue: (
  50: #e0f7fd,
  100: #b3eafa,
  200: #80ddf7,
  300: #4dcff3,
  400: #26c4f1,
  500: #00baee,
  600: #00b3ec,
  700: #00abe9,
  800: #00a3e7,
  900: #0094e2,
  A100: #ffffff,
  A200: #d6efff,
  A400: #a3dbff,
  A700: #8ad1ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-bayerblue: (
  50: #e0f2f9,
  100: #b3dff1,
  200: #80c9e7,
  300: #4db3dd,
  400: #26a3d6,
  500: #0093cf,
  600: #008bca,
  700: #0080c3,
  800: #0076bd,
  900: #0064b2,
  A100: #dbedff,
  A200: #a8d4ff,
  A400: #75baff,
  A700: #5cadff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-bayermidblue: (
  50: #e0eef3,
  100: #b3d5e2,
  200: #80b9ce,
  300: #4d9dba,
  400: #2688ac,
  500: #00739d,
  600: #006b95,
  700: #00608b,
  800: #005681,
  900: #00436f,
  A100: #9ed2ff,
  A200: #6bbaff,
  A400: #38a2ff,
  A700: #1f96ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);

$md-bayerdarkblue: (
  50: #e0e6e9,
  100: #b3c0c8,
  200: #8097a3,
  300: #4d6d7e,
  400: #264d62,
  500: #002e46,
  600: #00293f,
  700: #002337,
  800: #001d2f,
  900: #001220,
  A100: #5da1ff,
  A200: #2a83ff,
  A400: #0067f6,
  A700: #005ddc,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$md-bayerbrightgreen: (
  50: #f5f9e2,
  100: #e7efb6,
  200: #d7e585,
  300: #c7da54,
  400: #bbd230,
  500: #afca0b,
  600: #a8c50a,
  700: #9fbd08,
  800: #96b706,
  900: #86ab03,
  A100: #f4ffd4,
  A200: #e8ffa1,
  A400: #dbff6e,
  A700: #d4ff55,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-bayergreen: (
  50: #f0f7e5,
  100: #d9eabe,
  200: #c0dd93,
  300: #a6cf68,
  400: #93c447,
  500: #80ba27,
  600: #78b323,
  700: #6dab1d,
  800: #63a317,
  900: #50940e,
  A100: #deffc3,
  A200: #c3ff90,
  A400: #a7ff5d,
  A700: #99ff44,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-bayermidgreen: (
  50: #e7eee6,
  100: #c2d4c0,
  200: #99b896,
  300: #709c6b,
  400: #52864c,
  500: #33712c,
  600: #2e6927,
  700: #275e21,
  800: #20541b,
  900: #144210,
  A100: #86ff7d,
  A200: #57ff4a,
  A400: #27ff17,
  A700: #12fc00,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-bayerdarkgreen: (
  50: #e1e7e5,
  100: #b4c2bf,
  200: #829a94,
  300: #507269,
  400: #2b5349,
  500: #053529,
  600: #043024,
  700: #04281f,
  800: #032219,
  900: #01160f,
  A100: #56ffb2,
  A200: #23ff9b,
  A400: #00ef82,
  A700: #00d574,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-bayerfuchsia: (
  50: #fce7e9,
  100: #f8c4c9,
  200: #f49ca5,
  300: #ef7481,
  400: #eb5766,
  500: #e8394b,
  600: #e53344,
  700: #e22c3b,
  800: #de2433,
  900: #d81723,
  A100: #ffffff,
  A200: #ffd7d9,
  A400: #ffa4a9,
  A700: #ff8b90,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-bayerraspberry: (
  50: #fce0e9,
  100: #f7b3c9,
  200: #f280a5,
  300: #ed4d81,
  400: #e92666,
  500: #e5004b,
  600: #e20044,
  700: #de003b,
  800: #da0033,
  900: #d30023,
  A100: #fffbfb,
  A200: #ffc8ce,
  A400: #ff95a0,
  A700: #ff7b89,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-bayermidpurple: (
  50: #f1eaee,
  100: #dccbd4,
  200: #c4a8b7,
  300: #ac859a,
  400: #9b6b84,
  500: #89516e,
  600: #814a66,
  700: #76405b,
  800: #6c3751,
  900: #59273f,
  A100: #ffa0cb,
  A200: #ff6db0,
  A400: #ff3a94,
  A700: #ff2086,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$md-bayerdarkpurple: (
  50: #e9e4e7,
  100: #c8bbc3,
  200: #a48e9c,
  300: #806074,
  400: #643e56,
  500: #491c38,
  600: #421932,
  700: #39142b,
  800: #311124,
  900: #210917,
  A100: #ff60b4,
  A200: #ff2d9c,
  A400: #f90084,
  A700: #e00076,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$colid-data-marketplace-frontend-primary: mat.define-palette(
  $md-bayerdarkblue,
  500,
  50,
  900
);

$colid-data-marketplace-frontend-accent: mat.define-palette(
  $md-bayerraspberry,
  500,
  50,
  900
);

// The warn palette is optional (defaults to red).
$colid-data-marketplace-frontend-warn: mat.define-palette($md-bayerfuchsia);

// Create the theme object (a Sass map containing all of the palettes).
$colid-data-marketplace-frontend-theme: mat.define-light-theme(
  $colid-data-marketplace-frontend-primary,
  $colid-data-marketplace-frontend-accent,
  $colid-data-marketplace-frontend-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($colid-data-marketplace-frontend-theme);

$colid-typography: mat.define-typography-config(
  $font-family: 'Roboto, "Helvetica Neue", sans-serif'
    /*// Large, one-off header, usually at the top of the page (e.g. a hero header).
  $display-4:     mat.define-typography-level(110px, 110px, 300, $letter-spacing: -0.05em),
  // Large, one-off header, usually at the top of the page (e.g. a hero header).
  $display-3:     mat.define-typography-level(54px, 54px, 400, $letter-spacing: -0.02em),
  // Large, one-off header, usually at the top of the page (e.g. a hero header).
  $display-2:     mat.define-typography-level(43px, 43px, 400, $letter-spacing: -0.005em),
  // Large, one-off header, usually at the top of the page (e.g. a hero header).
  $display-1:     mat.define-typography-level(32px, 38px, 400),
  // Section heading corresponding to the <h1> tag.
  $headline:      mat.define-typography-level(22px, 30px, 400),
  // Section heading corresponding to the <h2> tag.
  $title:         mat.define-typography-level(18px, 30px, 500),
  // Section heading corresponding to the <h3> tag.
  $subheading-2:  mat.define-typography-level(14px, 26px, 400),
  // Section heading corresponding to the <h4> tag.
  $subheading-1:  mat.define-typography-level(13px, 22px, 400),
  // Bolder body text.
  $body-2:        mat.define-typography-level(12px, 22px, 500),
  // Base body text.
  $body-1:        mat.define-typography-level(12px, 18px, 400),
  // Smaller body and hint text.
  $caption:       mat.define-typography-level(10px, 18px, 400),
  // Buttons and anchors.
  $button:        mat.define-typography-level(12px, 12px, 500),
  // Line-height must be unit-less fraction of the font-size.
  // Form input fields.
  $input:         mat.define-typography-level(inherit, 1.125, 400)*/,
);

@include mat.typography-hierarchy($colid-typography);

@include mat.all-component-typographies($colid-typography);
// Override the typography in the core CSS.
@include mat.core($colid-typography);

// Dark hues
$bayer-dark-blue: rgb(16, 56, 79);
$bayer-dark-green: rgb(0, 68, 34);
$bayer-dark-purple: rgb(68, 50, 71);

// Mid hues
$bayer-mid-blue: rgb(0, 97, 127);
$bayer-mid-green: rgb(43, 102, 54);
$bayer-mid-purple: rgb(98, 73, 99);

//Core hues
$bayer-blue: rgb(0, 145, 223);
$bayer-green: rgb(102, 181, 18);
$bayer-raspberry: rgb(211, 15, 75);

// Bright hues
$bayer-bright-blue: rgb(0, 188, 255);
$bayer-bright-green: rgb(137, 211, 41);
$bayer-fuchsia: rgb(255, 49, 98);

// Bayer Screen Text
$bayer-blue-text: rgb(0, 117, 166);
$bayer-green-text: rgb(16, 128, 0);
$bayer-purple-text: rgb(106, 76, 114);
$bayer-raspberry-text: rgb(222, 0, 67);

// Bayer Snackbar info background
$bayer-info-background: #eee;

$theme-colors: (
  "primary": $bayer-blue-text,
  //"secondary": $bayer-green-text,
  "success": $bayer-green,
  "danger": $bayer-raspberry-text,
  "info": $bayer-blue-text,
);

body {
  font-family: "Roboto", sans-serif !important;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 0.85rem !important;
}

html,
body {
  height: 100%;
  overflow-y: hidden;
}

button:focus,
button:active:focus,
button.active:focus {
  outline: none !important;
  outline-style: none !important;
}

$mat-toolbar-height: 54px;

// Bayer Snackbar info background
$bayer-info-background: #eee;

.ng-select.ng-select-disabled > .ng-select-container {
  background-color: #e9ecef;
}

.info-snackbar {
  background-color: $bayer-info-background;
  color: black !important;
}

.success-snackbar {
  background-color: #51a351;
  color: white !important;
}

.warning-snackbar {
  background-color: #f89406;
  color: white !important;
}

.error-snackbar {
  background-color: $bayer-raspberry;
  color: white !important;
}

.h-content {
  height: calc(100% - #{$mat-toolbar-height});
  padding-left: 0px;
  padding-right: 0px;
}

.h-85 {
  height: 85% !important;
}

.mat-drawer-container {
  background-color: white;
}

.badge-light {
  background-color: #dddddd;
}

mat-sidenav-container {
  height: calc(100vh - #{$mat-toolbar-height}) !important;
}

/************************
 * Draft Badges and Icons
 ************************/
.mat-draft {
  background-color: $bayer-green;
  color: white !important;
}

.mat-chip.mat-draft {
  background-color: $bayer-green;
  color: white !important;
}

mat-icon.draft {
  color: $bayer-blue;
}

.badge-success {
  background-color: $bayer-green;
}

/****************************
 * Published Badges and Icons
 ****************************/
.mat-published {
  background-color: $bayer-blue !important;
  color: white !important;
}

.mat-chip.mat-published {
  background-color: $bayer-blue !important;
  color: white !important;
}

mat-icon.published {
  color: $bayer-green;
}

.badge-primary {
  background-color: $bayer-blue;
}

/**************************
 * Deleted Badges and Icons
 **************************/
.mat-deleted {
  background-color: $bayer-raspberry !important;
  color: white !important;
}

.badge-danger {
  background-color: $bayer-raspberry;
}

mat-icon.error {
  color: $bayer-raspberry;
}

mat-checkbox label {
  margin-bottom: 0 !important;
  white-space: pre-wrap !important;
}

mat-panel-description {
  flex-grow: 0 !important;
}

.admin-tab-title {
  font: 400 24px/32px Roboto, Helvetica Neue, sans-serif;
  letter-spacing: normal;
  margin: 0 0 16px;
}

.font-weight-bold {
  font-weight: 700 !important;
}

.form-group {
  margin-bottom: 1rem;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #e9ecef !important;
  opacity: 1;
}

:host ::ng-deep quill-editor {
  &[disabled="disabled"],
  &[readOnly="true"] {
    .ql-toolbar.ql-snow,
    .ql-container.ql-snow {
      background-color: #e9ecef !important;
    }
  }

  .ql-container.ql-disabled {
    background-color: #e9ecef !important;
  }
}

.panel-with-adjusted-overflow-and-padding {
  .mat-accordion > .mat-expansion-panel-spacing {
    overflow: inherit;
  }

  .mat-expansion-panel-header {
    padding-left: 8px;
  }

  .mat-expansion-panel-content .mat-expansion-panel-body {
    padding: 0 0 1rem !important;
  }
}

.expansion-tile {
  .mat-expansion-panel > .mat-expansion-panel-content {
    height: calc(100% - 64px);
    overflow: auto;
  }
}

.blue-bold-text {
  color: var(--bayer-blue-text);
  font-weight: bold;
}
