.dialog {
  height: 100%;
  width: 100%;
  padding: 12px;
}

.buttons {
  margin-left: 8px;
}

.favorites-area {
  width: 100%;

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {
    width: 500px;
    max-width: 500px;
  }
}

.entry:hover {
  cursor: pointer;
}

.dialog {
  border: lightgray solid 2px;
}

.icon-100 {
  font-size: 100px;
  height: 100px;
  width: auto;
}

.favorites-area {
  width: 100%;

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {
    width: 500px;
    max-width: 500px;
  }
}

mat-icon.close {
  &:hover {
    cursor: pointer;
    font-weight: bold;
  }
}

.entry:hover {
  cursor: pointer;
}

::ng-deep .favorites-item-sb > .mat-expansion-panel-header {
  padding-left: 2 !important;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  height: auto !important;
  font-size: 0.8rem !important;
}

.result-header {
  display: flex;
  align-items: center;
}

.favorite-title {
  max-width: 90%;
}

::ng-deep .mat-dialog-title {
  margin: 0 0 20px;
  display: block;

  font: 500 20px / 32px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
}
