<div class="row mb-3">
  <div class="col-12">
    <div *ngIf="!distributionTypesVisible">
      <button
        mat-raised-button
        color="white"
        id="btnAddDistributionEntity"
        (click)="showDistributionTypes()"
        [disabled]="disabled"
      >
        Add {{ label }}
      </button>
    </div>
    <div *ngIf="distributionTypesVisible">
      <div class="list-group">
        <button
          type="button"
          class="list-group-item list-group-item-action"
          style="cursor: pointer"
          (click)="selectedDistributionType = m"
          [class.active]="selectedDistributionType?.key === m.key"
          [disabled]="disabled"
          *ngFor="let m of metaData"
        >
          <p class="m-0">{{ m.label }}</p>
          <small class="m-0">{{ m.description }}</small>
        </button>
      </div>
      <div class="d-flex justify-content-end me-1">
        <button
          mat-raised-button
          color="accent"
          (click)="hideDistributionTypes()"
          [disabled]="disabled"
        >
          Cancel
        </button>
        <button
          mat-raised-button
          color="primary"
          id="btnCreateDistributionEntity"
          class="ms-2"
          [disabled]="selectedDistributionType == null || disabled"
          (click)="addDistributionEntity()"
        >
          <mat-icon fontSet="material-icons-outlined">add</mat-icon>
          Create
        </button>
      </div>
    </div>
  </div>
</div>
