<div class="container-lg my-4">
  <div class="row justify-content-between">
    <div class="col-auto">
      <h1 class="admin-tab-title">System Analytics</h1>
    </div>
    <div class="col-auto">
      <button
        mat-raised-button
        color="primary"
        class="ms-2"
        type="button"
        (click)="loadData()"
      >
        <mat-icon fontSet="material-icons-outlined">refresh</mat-icon>
        Refresh
      </button>
    </div>
  </div>
  <ng-container>
    <div class="row mt-3">
      <div class="col-4">
        <mat-card
          class="px-4 py w-100"
          style="border-left: 5px solid rgb(255, 49, 98)"
        >
          <mat-card-header>
            <mat-card-title>Total entries</mat-card-title>
          </mat-card-header>
          <mat-card-content class="d-flex justify-content-center">
            <h1>
              {{ totalNumberOfResources$ | async }}
            </h1>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12"></div>
      <div class="col-12 col-md-6 mt-2">
        <app-system-analytics-chart
          *ngIf="resourceTypeCharacteristics; else loading"
          [chart]="resourceTypeCharacteristics"
          [toggleChartTypes]="['bar-vertical', 'pie']"
        >
        </app-system-analytics-chart>
      </div>
      <div class="col-12 col-md-6 mt-2">
        <app-system-analytics-chart
          *ngIf="consumerGroupCharacteristics; else loading"
          [chart]="consumerGroupCharacteristics"
          [toggleChartTypes]="['bar-vertical', 'pie']"
        >
        </app-system-analytics-chart>
      </div>
      <div class="col-12 col-md-6 mt-2">
        <app-system-analytics-chart
          *ngIf="informationClassificationCharacteristics; else loading"
          [chart]="informationClassificationCharacteristics"
          [toggleChartTypes]="['bar-vertical', 'pie']"
        >
        </app-system-analytics-chart>
      </div>
      <div class="col-12 col-md-6 mt-2">
        <app-system-analytics-chart
          *ngIf="lifecycleStatusCharacteristics; else loading"
          [chart]="lifecycleStatusCharacteristics"
          [toggleChartTypes]="['bar-vertical', 'pie']"
        >
        </app-system-analytics-chart>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12" *ngFor="let chart of normalizedChartData | keyvalue">
        <app-system-analytics-chart
          [chart]="normalizedChartData.get(chart.key)"
        >
        </app-system-analytics-chart>
      </div>
    </div>
    <div class="row mt-3" *ngFor="let chart of graphData | keyvalue">
      <div class="col-12">
        <app-system-analytics-chart
          class="w-100"
          [chart]="graphData.get(chart.key)"
        >
        </app-system-analytics-chart>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #loading>
  <div class="row justify-content-center mt-4">
    <div class="col-auto">
      <app-colid-spinner></app-colid-spinner>
    </div>
  </div>
</ng-template>
