<div class="d-flex flex-row">
  <div>
    <button mat-raised-button color="accent" (click)="sendFeedbackMail()">
      <mat-icon class="icon-display" fontSet="material-icons-outlined" inline="true">feedback</mat-icon>
      We value your feedback
    </button>
  </div>
  <div>
    <button mat-raised-button color="accent" (click)="createSupportTicket()">
      <mat-icon class="icon-display" fontSet="material-icons-outlined" inline="true">contact_support</mat-icon>
      Contact Support
    </button>
  </div>
</div>
