.search-result {
  &__indicators-and-buttons {
    display: flex;
    gap: 1.5rem;
    align-items: center;
  }
}

.mat-expansion-panel-header[aria-disabled='true'] {
  color: rgba(0, 0, 0, 0.87) !important;
}

.result {
  padding: 0.85rem 0rem 0.85rem 0rem;
  border-radius: 0.3rem;
}

.result-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 8px;
}

.result-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-right: 1rem;
}

.result-description {
  font-size: 0.9375rem;
  margin-bottom: unset !important;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-align: justify;
  width: auto;
  padding-right: 0.5rem;
}

.mat-mdc-icon-button.mat-mdc-button-base.resource-details-dialog-button {
  --mdc-icon-button-state-layer-size: 24px;
  padding: 0;
  margin-right: 8px;
}

.mat-expansion-panel-header {
  height: auto !important;
}

.mat-expansion-panel-body {
  padding-left: 2 !important;
  //display: inline-block;
  max-width: 100% !important;
  overflow: auto;
}

::ng-deep .result-description > p {
  margin-bottom: 0px;
  width: 100%;
}

.badge {
  font-weight: 500 !important;
}

mat-panel-description {
  display: flex !important;
  justify-content: flex-end;
  align-items: flex-start;
  color: black;
  height: -webkit-fit-content;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.justify-content-start {
  flex-wrap: wrap;
  justify-content: flex-start !important;
}

::ng-deep mat-tab-body-wrapper {
  width: max-content;
}

.mat-expansion-panel-content {
  display: flex;
  flex-direction: column;
  overflow: visible;
  width: 100%;
}
.searchresultlist {
  margin-left: 20px;
  max-width: none;
  flex: none;
}

.mat-tab-labels {
  margin-top: 15px;
}

::ng-deep .mat-tab-label {
  color: black;
  height: 40px !important;
  max-width: 30px !important;
}

::ng-deep.mat-tab-label-active {
  opacity: 1 !important;
}

::ng-deep .mat-row {
  height: auto;
}

::ng-deep .mat-cell {
  padding: 8px 8px 8px 0;
}

.details-container {
  margin-top: 10px;
}

::ng-deep .mat-tooltip {
  max-width: 500px;
  font-size: 13px;
}

::ng-deep .cursor-pointer {
  cursor: pointer;
}

.parent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
}

.child {
  margin: auto;
}

span {
  align-self: end;
}

.mat-icon-check {
  color: var(--bayer-green);
}

.mat-icon-cross {
  color: var(--bayer-raspberry);
}

.search-result {
  &__nested-links-filter-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
  }

  &__nested-links-filter-input {
    width: 15rem;
  }

  &__nested-links-filter-radio-button {
    padding-left: 0.5rem;
  }

  &__no-matching-filtered-result-placeholder {
    padding: 0.5rem;
  }
}
