<div class="row mb-2">
  <div class="col-12 mb-1 text-muted">{{ label }}s</div>
  <div class="col-12 pl-0">
    <ng-container
      *ngFor="let metadataProperty of groupedMetadata; let i = index"
    >
      <ng-container
        *ngIf="entity.properties[metadataProperty.key] as entityProperty"
      >
        <mat-accordion>
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title class="panel-title">
                <mat-icon class="mr-1" fontSet="material-icons-outlined"
                  >image</mat-icon
                >
                {{ amountImagesText }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-container *ngFor="let image of entityProperty; let j = index">
              <img
                [src]="image['id']"
                (click)="onOpenImageDialog(j, entityProperty)"
                matTooltip="{{
                  entityProperty[j]['properties'][constants.Metadata.Comment]
                }}"
                alt="{{
                  entityProperty[j]['properties'][constants.Metadata.RDFS.Label]
                }}"
                class="image"
              />
            </ng-container>
          </mat-expansion-panel>
        </mat-accordion>
      </ng-container>
    </ng-container>
  </div>
</div>
