.icon-error {
    height: 100px;
    width: 100px;
    font-size: 100px;
}

.text-error {
    margin-top: 10px;
    margin-bottom: 30px;
}

.dialog-panel {
    max-width: 60vw;
}

.mat-dialog-content {
    min-height: 19vh;
}